.card_container {
    display: grid;
    max-width: 320px;
    min-width: 320px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 24px;
    border: 1px #C8AE7D solid;
    border-radius: 16px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 4px 15px 55px 0px rgba(94, 92, 92, 1);
    -webkit-box-shadow: 4px 15px 55px 0px rgba(94, 92, 92, 1);
    -moz-box-shadow: 4px 15px 55px 0px rgba(94, 92, 92, 1);
    transition: transform 0.5s;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
    height: 500px;

    & article {
        --img-scale: 1.001;
        --title-color: black;
        --link-icon-translate: -20px;
        --link-icon-opacity: 0;
        position: relative;
        border-radius: 16px;
        box-shadow: none;
        background: #fff;
        transform-origin: center;
        transition: all 0.4s ease-in-out;
        overflow: hidden;
    }

    & article a::after {
        inset-block: 0;
        inset-inline: 0;
        cursor: pointer;
        content: "";
    }

    /* basic article elements styling */
    & article h2 {
        margin: 0 0 18px 0;
        font-size: 20px;
        color: #65451F;
        transition: color 0.3s ease-out;
        height: 70px;
        overflow: hidden;
    }

    & figure {
        margin: 0;
        padding: 0;
        aspect-ratio: 16 / 9;
        overflow: hidden;
    }

    & article img {
        max-width: 100%;
        transform-origin: center;
        transform: scale(var(--img-scale));
        transition: transform 0.4s ease-in-out;
    }

    & .article-body {
        padding: 15px;
    }

    & article a {
        display: inline-flex;
        align-items: center;
        text-decoration: none;
        color: #C8AE7D;

    }

    & article a:focus {
        outline: 1px dotted #28666e;
    }

    & .article-body {
        div {
            font-size: 15px;
            height: 100px;
            overflow: hidden;
            border-bottom: grey 0.5px solid;
        }

        p {
            height: 60px;
            overflow: scroll;
        }
    }


    /* using the has() relational pseudo selector to update our custom properties */
    & article:has(:hover, :focus) {
        --img-scale: 1.1;
        --title-color: #C8AE7D;
        --link-icon-translate: 0;
        --link-icon-opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    }


    /************************ 
      Generic layout (demo looks)
      **************************/

    *,
    & *::before,
    & *::after {
        box-sizing: border-box;
    }

    & .card_article-description {
        width: 100%;
        height: 100px;
        overflow: hidden;
    }

    & .sr-only:not(:focus):not(:active) {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
        width: 1px;
    }
}