.timetable-container {
    height: auto;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.timetable-title {
    margin: 20px 0px;
    padding: 10px 20px;

    h6 {
        font-weight: bold;
    }
}

.timetable-search {
    margin: 0px 20px;
}

.timetable-calender-container {
    width: 100%;
    padding: 20px;
}


//Ticket Detail Consultant
.ticketdetail-consultant-container {
    margin: 10px 10px;
}

.ticketdetail-consultant-customerinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    h3 {
        margin: 0px;
        padding: 10px;
        width: auto;
        width: 90%;
    }

    &-detailbox {
        border: 1px black solid;
        width: 90%;
        display: flex;
        justify-content: center;
        height: auto;
        border: 2.3px outset #65451f;

        &-info {
            width: 50%;
            padding: 10px 10px;
            border-right: 0.3px grey solid;

        }

        &-avatar {
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 10px 0px;

            img {
                width: 50%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    }

    & .ticketdetail-consultant-detailbox-small {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 10px;

        p {
            width: 50%;
            margin: 15px 0px;
        }

        ;
    }
}

.ticketdetail-consultant-ticketinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    h3 {
        margin: 0px;
        padding: 10px;
        width: auto;
        width: 90%;
    }

    &-detailbox {
        border: 1px black solid;
        width: 90%;
        display: flex;
        justify-content: center;
        height: auto;
        border: 2.3px outset #65451f;

        &-info {
            width: 50%;
            padding: 10px 10px;
            border-right: 0.3px grey solid;

        }

        &-avatar {
            width: 50%;
            display: flex;
            justify-content: center;
            padding: 10px 0px;

            img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }
        }
    }

    & .ticketdetail-consultant-detailbox-small {
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding: 0px 10px;

        p {
            width: 40%;
            margin: 10px 0px;
        }

        ;

        & #info {
            width: 60%;
        }
    }
}

.ticketdetail-consultant-evidence {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;

    h3 {
        margin: 0px;
        padding: 10px;
        width: auto;
        width: 90%;
    }

    p {
        width: 100%;
        padding: 10px;
    }
}


//timetable-birdtraining

.timetable-birdtraining-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 40px;
    margin-top: 20px;

    & .timetable-birdtraining-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 45%;
        border: 2.3px outset #65451f;

        & .timetable-birdtraining-small {
            display: flex;
            width: 90%;
            & p {
                width: 50%;
                padding: 10px;
                margin: 0px;
            }

            & #label {
                font-weight: bold;
            }

            & #info {
                text-align: left;
            }
        }

        & img {
            width: 90%;
            aspect-ratio: 1/1;
            object-fit: fill;
            border: 0.2px grey solid;
            margin-bottom: 20px;
            border-radius: 15px;
        }
    }

    & .timetable-birdtraining-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 54%;
        border: 2.3px outset #65451f;
        padding: 10px;

        & .timetable-birdtraining-small {
            display: flex;
            width: 100%;

            & p {
                width: 50%;
                padding: 10px;
                margin: 0px;
            }

            & #label {
                font-weight: bold;
                width: 40%;
            }

            & #info {
                width: 60%;
                text-align: left;
            }
        }
    }
}