.coursedetailpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #efeeee;
}

.cdtp_container {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.cdtp_wrapper {
    width: 1400px;
    display: flex;
    justify-content: center;
    position: relative;
}

//sidebar
.cdtp_sidebar {
    width: 30%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px outset #ed9507;
    background-color: white;

    h3 {
        width: 90%;
        font-size: 25px;
    }

    &-price {
        width: 90%;
        font-size: 20px;
        margin: 0px;
        margin-bottom: 20px;
    }

    & button {
        margin-bottom: 10px;
        width: 90%;
        height: 50px;
        box-shadow: inset 0px 1px 0px 0px #a6827e;
        background-color: #7d5d3b;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        color: #ffffff;
        font-size: 15px;
        padding: 6px 24px;
        text-decoration: none;
        text-shadow: 0px 1px 0px #4d3534;
        text-transform: uppercase;

        &:hover {
            background-color: #634b30;

        }
    }

    &-skill {
        width: 90%;
        margin-top: 20px;

        &-skillbox {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px grey solid;
            padding: 0px 10px;
            align-items: center;

            &-first {
                font-size: 15px;
            }

            &-second {
                font-size: 15px;
                padding: 5px;
                color: grey;
                background-color: rgb(218, 213, 213);
            }
        }
    }

    &-footer {
        margin-top: 60px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

//content
.cdtp_content {
    width: 70%;
    margin-left: 20px;

}

.cdpt_content_descr-box {
    background-color: white;
    border-radius: 15px;
    padding: 10px 25px;
    margin-bottom: 30px;
    box-shadow: 7px 10px 25px -1px rgba(200, 174, 125, 0.75);
    -webkit-box-shadow: 7px 10px 25px -1px rgba(200, 174, 125, 0.75);
    -moz-box-shadow: 7px 10px 25px -1px rgba(200, 174, 125, 0.75);

    h4 {
        margin: 0px;
        font-size: 18px;
        padding: 15px 0px;
        border-bottom: grey 0.5px solid;
    }

    p {
        font-size: 15px;
        color: rgb(150, 150, 150);
    }

    img {
        width: 30%;
        border-radius: 15px;
        margin-top: 20px;
        height: 300px;
        object-fit: cover;
    }
}