.wclasslistpage {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F7F7F7;
}

.wclp_section {
    &-title {
        text-transform: uppercase;
    }

    &-cards {
        width: 100%;
        background-color: #F7F7F7;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
}

//cards
.wclp_card {
    &-container {
        height: 200px;
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
        text-decoration: none;
        color: black;
        border-radius: 10px;
        overflow: hidden;
        border: 0.5px rgba(200, 174, 125, 0.75) solid ;
        box-shadow: 7px 10px 25px -8px rgba(200, 174, 125, 0.75);
        -webkit-box-shadow: 7px 10px 25px -8px rgba(200, 174, 125, 0.75);
        -moz-box-shadow: 7px 10px 25px -8px rgba(200, 174, 125, 0.75);
        margin-left: 20px;
        margin-right: 20px;
    }
}

.wclp_card_section {
    &-top {
        height: 40%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    &-bottom {
        height: 60%;
        width: 100%;
    }
}

.wclp_card_section {
    &_top {
        &-img {
            width: 60%;
            height: 100%;
            border-radius: 5px;
        }

        &-button {
            width: 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & button {
                padding: 13px;
                border-radius: 10px;
                border: none;
                font-weight: bold;
                background-color: #C8AE7D;
                color: white;
                cursor: pointer;
            }
        }
    }

    &-bottom {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;

        & h2 {
            margin: 0px;
            font-size: 20px;
        }

        & p {
            margin: 0px;
            font-size: 13px;
            height: max-content;
            overflow: hidden;

            & span {
                color: red;
            }
        }
    }
}

//open div
.wclpdiv {
    &-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    &-container {
        background-image: url("../../assets/pages/payment/pexels-sergio-souza-3250454.jpg");
        color: white;
        width: 900px;
        height: auto;
        padding: 20px;
        border-radius: 20px;
        border: 1px grey solid;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        position: relative;
    }
}

.wclpdiv_section {
    display: block;
    margin: 0px;
    margin-bottom: 30px;
    &-title{
        margin-bottom: 0px;
    }

    &-mapping {
        width: 100%;
    }

    //wclpdiv_section-button
    &-button {
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & button {
            padding: 10px;
            height: 50px;
        }
    }

    &_button {
        &-close {
            width: 100px;
            border-radius: 10px;
            border: 0.2px white solid;
        }

        &-enroll {
            width: 150px;
            border-radius: 10px;
            border: 0.2px white solid;
            background-color: #C8AE7D;
            color: white;
        }
    }
}

//wclpdiv_section-mapping
.wclpdiv_section_mapping-content {
    & .wclpdiv_content {
        width: 100%;

        &-detail {
            font-weight: bold;

            & span {
                font-weight: normal;
            }
        }

        &-registered {
            font-size: 15px;
            text-align: right;
            margin-top: 30px;
        }
    }
}