.footer_container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #65451F;
    color: white;
}

.footer_elements{
    width: 50%;
    height: 250px;

    &-content{
        padding: 0 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        & h1, h5{
            width: 90%;
            margin: 0px;
        }
        & h5{
            font-weight: lighter;
        }
    }

    &-google{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}