.navbar {
    position: fixed;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    color: black;
    box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 4px 23px -4px rgba(0, 0, 0, 0.67);
    z-index: 2;
}

.nav_container {
    height: 100%;
    display: flex;
    justify-content: center;
}

.nav_elements {
    height: 100%;

    &-logo {
        flex-grow: 1;
    }

    &-content {
        flex-grow: 7;
    }

    &-sign {
        flex-grow: 2;
    }
}

//left content
.nav_elements-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

//right content
.nav_elements-sign {
    display: flex;
    justify-content: center;
    align-items: center;

    & button {
        padding: 14px;
        border: none;
        border-radius: 20px;
    }
}

.button-login {
    background-color: transparent;
    color: #96989B;
    transition: background-color 0.5s, transform 0.5s;
    &:hover{
        color: black;
        transform: scale(1.1, 1.1)
    }
}

.button-signup {
    background-color: #765827;
    color: white;
    transition: background-color 0.5s, transform 0.5s;
    &:hover{
        background-color: #C8AE7D ;
        color: white;
        transform: scale(1.1, 1.1)
    }
}

//mid content
.nav_elements-content {
    & ul li {
        margin: 0 auto;
        padding: 0;
        list-style: none;
        color: #96989B;
    }

    & ul {
        width: 100%;
        margin: 0;
    }

    & li {
        float: left;
        display: inline;
        position: relative;
    }

    & a {
        display: block;
        line-height: 80px;
        padding: 0 20px;
        text-decoration: none;
        color: #96989B;
    }

    & a.nav_dropdown-arrow:after {
        margin-left: 2px;
    }

    & li a:hover {
        color: #765827;
        background: #F2F2F2;
    }

    & ul.nav_sub-menus {
        height: auto;
        overflow: hidden;
        width: 250px;
        background: #765827;
        position: absolute;
        z-index: 3;
        display: none;
        border-radius: 10px;
    }

    & ul.nav_sub-menus li {
        display: block;
        width: 100%;
    }

    & ul.nav_sub-menus a {
        color: #FFFFFF;
    }

    & li:hover ul.nav_sub-menus {
        display: block
    }

    & ul.nav_sub-menus a:hover {
        background: white;
        color: #444444;
    }
}